 {% load static %}

    <footer class="pb-5 bg-primary-3 text-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="h1">Interested in collaborating?</div>
            <div class="my-5">
              <a href="#" class="btn btn-lg btn-primary">Get In Touch</a>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <ul class="nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img class="icon undefined" src="{% static 'assets/img/icons/social/instagram.svg' %}" alt="instagram social icon" data-inject-svg />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img class="icon undefined" src="{% static 'assets/img/icons/social/twitter.svg' %}" alt="twitter social icon" data-inject-svg />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img class="icon undefined" src="{% static 'assets/img/icons/social/youtube.svg' %}" alt="youtube social icon" data-inject-svg />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img class="icon undefined" src="{% static 'assets/img/icons/social/medium.svg' %}" alt="medium social icon" data-inject-svg />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img class="icon undefined" src="{% static 'assets/img/icons/social/facebook.svg' %}" alt="facebook social icon" data-inject-svg />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <small class="text-muted">©2001-2018 All Rights Reserved. Your Brand® is a registered trademark of Your Company</small>
          </div>
        </div>
      </div>
    </footer>