{% extends "home/base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load custom_tags %}

{% block content %}

    <section class="has-divider text-light jarallax bg-dark" data-jarallax data-speed="0.5" data-overlay>
      {% if page.feed_image %}
        {% image page.feed_image width-400 class="jarallax-img opacity-50" id="feed_img" %}
      {% else %}
        <img src="{% static 'assets/img/article-9.jpg' %}" alt="" class="jarallax-img opacity-50">
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <h1 class="display-4">{{ page.title }}</h1>
            <p class="lead mb-0">{{ page.intro|richtext }}</p>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>



    <section>
      <div class="container">
        <div class="row mb-4">


          {% for sub_page in posts %}

          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <a href="{{ p.url }}">
                {% if sub_page.feed_image %}
                  {% image sub_page.feed_image fill-400x233 class="card-img-top" id="bar" %}
                {% else %}
                  <img src="{% static 'assets/img/article-1.jpg' %}" alt="Image" class="card-img-top">
                {% endif %}
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      {% if sub_page.categories.first %}
                        <a href="#">{{ sub_page.categories.first }}</a>
                      {% else %}
                        <a href="#">General</a>
                      {% endif %}
                    </div>
                    <span class="text-muted">{% include_block sub_page.date %}</span>
                  </div>
                </div>
                <a href="{{ sub_page.url }}">
                  <h4>{{ sub_page.title }}</h4>
                </a>
                <p class="flex-grow-1">
                  {{ sub_page.intro|richtext }}
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="{% static 'assets/img/avatars/female-3.jpg' %}" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">{{ sub_page.author }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          {% endfor %}

      </div>
    </section>

{% endblock %}